.banner{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    box-shadow: inset 0 -10rem 8rem rgba(0,0,0,0.9);
    padding: 0 15%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.bannerTitle{
    color: white;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: var(--Roboto);
    font-weight: var(--bold);
}

.bannerSubtitle{
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: var(--Roboto);
    font-weight: var(--thin);
}

.BtnOfertas{
    width: 150px;
    height: 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--Blue);
    cursor: pointer;
    margin-bottom: 5rem;
}
