header{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10000;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: white;
    height: 80px;
}

.headerImg{
    height: 90%;
}

.headerBotones{
    display: flex;
    align-items: center;
}

    .buscador{
        margin-left: 20px;
        width: 300px;
        height: 3rem;
        background-color: var(--Gray);
        border: none;
        padding: 0 30px;
        border-radius: 100px;
    }

    .BtnLogin{
        margin-left: 20px;
        width: 150px;
        height: 3rem;
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: var(--Blue);
        cursor: pointer;
    }