:root{

/*Colores*/
    --LightBlue: #EAF2FD;
    --Blue: #2A7AE4;
    --Gray: #eeeeee;
    --DarkGray: #555555;
    --Orange: #f37100;

/*Fuentes*/
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;

/*Grosor de fuentes*/
    --thin: 100;
    --regular: 400;
    --bold: 700;
}